body {
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/dust_scratches.png");
    color:#666666;
    background-repeat: repeat;
    margin: 1% auto;
}
header {
    position: fixed;
    background: #ffffff;
    border-bottom: 1px #dddddd solid;
    top: 0;
    left: 0;
    height: 67px;
    width: 100%;
    z-index: 5;
}
header h1 {
    position: fixed;
    top: -20px;
    margin-left: 200px;
    line-height: 70px;
    height: 50px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 20px;
    font-size: 24px;
    color: #ffffff;
    background: #4aaaa5;
    display: inline;
}
header nav {
    display: inline;
    margin-right: 200px;
    padding: 0;
    font-size: 14px;
    line-height: 500%;
    float: right;
}
header nav a {
    text-decoration: none;
    color: #aaaaaa;
    transition-duration: 0.4s;
}
header nav a:hover {
    color: #000000;
    font-size: 15px;
}
article {
    display: inline;
    position: relative;    
    width: 650px;
    float: left;
    margin: 95px 0 0 0;
    background: #ffffff;
    border: 1px #dddddd solid;
}
aside {
    position: relative; 
    margin-right: 0;
    right: 0;
    margin-top: 95px;
    display: inline;
    float: right;
    background: #ffffff;
    width: 270px;
    height: 300px;
    border: 1px #dddddd solid;
}
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    background: #ffffff;
    color: #4aaaa5;
    font-size: 24px;
    line-height: 200%;
    padding: 20px 20px 0 20px;
    margin: 0;
}
h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    background: #ffffff;
    color: #4aaaa5;
    font-size: 18px;
    line-height: 200%;
    padding: 20px 20px 0 20px;
    margin: 0;
}
p{
    margin: 20px 40px 20px 20px;
}
footer {
    background: #666666;
    color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 12px;
    line-height: 400%;
    text-align: center;
    border-top: 5px #4aaaa5 solid;
    z-index: 5;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 20px;
    padding: 0;
    }
form {
    margin: 0 20px 20px 20px;
}
form label {
    color: #666666;
    padding: 10px auto;
    margin: 5px 0;
}
form input[type=text] {
    width: 100%;
    padding: 0;
    margin: 5px 0;
}
form input::placeholder {
    color: #cccccc;
}
textarea{
    width: 100%;
    height: 200px;
    padding-left: 0;
    margin: 5px 10px 10px 0;    
    resize: vertical;
}
form input[type=submit]{
    background: #4aaaa5;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px 25px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition-duration: 0.4s;
}
form input[type=submit]:hover {
    opacity: 0.7;
    border: 1px #dddddd outset;
}
figure {
    position: relative;
    display: inline-block;
    float: left;    
    max-height: 185px;
    max-width: 277.5px;
    margin: 20px;
    opacity: 1.0;
    transition-duration: 0.4s;
}
figure img {
    position: relative;
    top: 0; 
    left: 0;
    height: 185px;
    z-index: 1;
}
figcaption {
    background: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    position: relative;
    bottom: 60px;
    height: 50px; 
    width: 277.5px;
    text-align: center;
    margin-left: 0;
    line-height: 300%;
    right: 0;
    z-index: 2;
}
figure:hover {
    opacity: 0.7;
    transform: scale(1.01);
}
.container {  
    background: #ffffff;
}
.clear {
    content: "";
    display: table;
    clear: both;
}
.social-media-link {
    position: relative;
    left: 20px;
    max-height: 40px;
    width: 40px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link2 {
    position: relative;
    top: -2px;
    left: 23px;
    max-height: 36px;
    max-width: 37px;
    width: 40px;
    padding: 0;
    opacity: 1.0;
    transition-duration: 0.4s;
}
.social-media-link:hover {
    opacity: .5;
    transform: scale(1.1);
}
.social-media-link2:hover {
    opacity: .5;
    transform: scale(1.1);
}
#bio-image {
    display: inline;
    height: auto;
    width: 150px;
    padding: 20px 20px 0 20px;
    float: left;
}

@media screen and (max-width: 1224px){
    header h1 {
        position: fixed;
        top: 0;
        margin-left: 100px;
        line-height: 30px;
        height: 30px;
        padding: 20px;
        display: inline;
    }
    header nav {
        display: inline;
        margin-right: 100px;
        padding: 0;
        line-height: 500%;
        float: right;
    }   
}
@media screen and (max-width: 980px) {
    header h1 {
        position: fixed;
        top: 0;
        margin-left: 100px;
        line-height: 30px;
        height: 30px;
        padding: 20px;
        display: inline;
    }
    header nav {
        display: inline;
        margin-right: 70px;
        padding: 0;
        line-height: 500%;
        float: right;
    }
    article {
        float: left;
        width: 500px;
        margin: 97px 0 0 90px;
    }
    aside {
        position: relative; 
        margin-right: 100px;
        margin-top: 97px;
        display: inline;
        float: right;
        width: 220px;
        height: 200px;
    }
    figure {
        position: relative;
        max-height: 185px;
        max-width: 277.5px;
        margin: 10% 15%;  
    }
    figcaption {
        position: relative;
        bottom: 60px;
        height: 50px; 
        width: 277.5px;
        text-align: center;
        margin-left: 0;
        line-height: 300%;
        right: 0;
        z-index: 2;
    }
}
@media screen and (max-width: 768px) {
    header h1 {
        position: fixed;
        top: 0;
        margin-left: 2%;
        line-height: 30px;
        height: 30px;
        padding: 20px;
        display: inline;
    }
    header nav {
        display: inline;
        margin-right: 10%;
        padding: 0;
        line-height: 500%;
        float: right;
    }
    article {
        width: 300px;
        float: left;
    }
    aside {
        max-width: 640px;
        top: 0;
        left: -22%;
    }
    figure {
        display: inline-block;
        float: left;
        margin: 20px;
        padding: 0;
    }
}
@media screen and (max-width: 640px) {
    body{
        overflow-x:hidden;
    }
    header {
        height: 150px;
        position: fixed;
        text-align: center;
    }
    header h1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        line-height: 30px;
        height: 30px;
        padding: 20px;
    }
    header nav {
        position: relative;
        top: 65px;
        right: 20%;
        font-size: 18px;
        padding: 0 10px;
        line-height: 500%;
    }
    header nav a:hover {
        font-size: 20px;
    }
    article {
        display: block;
        width: 600px;
        margin: 18% 4% -5% 1%;
    }
    article h2 {
        font-size: 28px;
        text-align: center;
    }
    aside {
        display: block;
        position: relative;
        width: 600px;
        top: 0;
        margin: 100px 137px;
    }
    figure {
        display: inline-block;
        position: relative;
        margin: 5% 5% 30% 5%;  
    }
    figure img {
        width: 530px;
        height: auto;
    }
    figcaption {
        position: relative;
        bottom: 120px;
        height: 100px; 
        width: 530px;
        font-size: 32px;
        text-align: center;
        margin-left: 0;
        line-height: 300%;
        right: 0;
        z-index: 2;
    }
    aside {
        position: relative;
        top: 10px;
        left: -350px;
        width: 600px;
        padding-bottom: 50px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 150px;
        padding-right: 0;
        padding-left: 0;
    }
    aside h3 {
        font-size: 28px;
        text-align: center;
    }
    .social-media-link {
        position: relative;
        left: 20px;
        max-height: 80px;
        width: 80px;
        padding: 0;
        margin: 0;
        float: none;
    }
    .social-media-link2 {
        position: relative;
        top: -3px;
        left: 23px;
        max-height: 76px;
        max-width: 73px;
        width: 73px;
        padding: 0;
        margin: 0;
    }
}
}